.added {
  width: 100%;
  font-family: sans-serif;
}

.add-wr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-product-wr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 5px;
}

.card-btn {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  background-color: #17af26;
  color: white;
}

.price {
  color: #eb2606;
}

.add-card p {
  font-weight: 700;
  font-size: large;
}
